@media(max-width: 1024px) {
    body.sem-scroll {
        padding-right: 0px;
        overflow: hidden;
    }

    .sobre-mim {
        flex-direction: column;
        width: 100%;
    }

    .info {
        width: 90%;
        margin-bottom: 50px;
        text-align: center;
    }

    .imagem>img {
        width: 25em;
        height: 25em;
    }

    .redes-sociais {
        display: flex;
        gap: 1.5em;
        width: 100%;
        justify-content: center;
    }

    #textos {
        position: relative;
    }

    #titulo-projetos {
        font-size: 46px;
    }

    #mensagem {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 100%;
    }

    #mensagem::after {
        content: "(Clique em um projeto para ver seus detalhes)";
    }

    .projeto {
        width: 30em;
        transform: scale(1);
        opacity: 1;
        transition: 0.35s;
        filter: grayscale(0%) blur(0px);
        position: relative;
    }

    .projeto>h3 {
        font-size: 36px;
    }

    .imagem-desc {
        width: 23em;
        height: 23em;
    }

    .imagem-desc {
        overflow: hidden;
        position: relative;
        margin: auto;
        cursor: pointer;
        filter: blur(0px);
    }

    .desc {
        width: 100%;
        position: relative;
        font-size: 18px;
        opacity: 1;
        transform: translateX(0) translateY(10px);

    }

    .projeto:before {
        content: "";
        width: 0;
        height: 0;
    }

    .projeto:hover .desc {
        transform: translateX(0) translateY(10px);
    }

    .pagina-projeto {
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .pagina-projeto li {
        text-align: left;
    }

    .pagina-projeto .div-carrossel {
        max-width: 90%;
        height: 40%;
    }
}

@media(max-width: 425px) {
    .imagem>img {
        width: 20em;
        height: 20em;
    }

    .projeto {
        width: 20em;
    }

    .projeto>h3 {
        font-size: 30px;
    }

    .imagem-desc {
        width: 15em;
        height: 15em;
    }

    .pagina-projeto>h1 {
        font-size: 30px;
    }
}