html {
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-color: #282828;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    background: linear-gradient(150deg, #000000, #9e00ff);
    background-size: 120% 120%;
}

body.sem-scroll {
    padding-right: 17px;
    overflow: hidden;
}

.sobre-mim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 6em;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    font-size: 22px;
}

.info>h1 {
    text-align: center;
}

.redes-sociais {
    display: flex;
    gap: 1.5em;
    width: 100%;
    justify-content: left;
}

.redes-sociais>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 2em;
    height: 2em;
}

.redes-sociais i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    transition: 0.3s;
}

.redes-sociais a i:hover {
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.25);
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.imagem>img {
    width: 25em;
    height: 25em;
    border-radius: 50%;
}

#titulo-projetos {
    text-align: center;
    margin-bottom: 2em;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    margin-bottom: 10em;
    gap: 5em;
    position: relative;
}

.imagem-desc {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
    position: relative;
    margin: auto;
    cursor: pointer;
    filter: blur(1px);
}

.projeto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.35s;
    filter: grayscale(100%);
    position: relative;
}

.projeto:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px;
    background: transparent;
}

.projeto:hover {
    filter: grayscale(0%) blur(0px);
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.projeto>h3 {
    text-align: center;
    margin: 8px 0;
}

.imagem-desc>img {
    width: 100%;
    height: 100%;
}

.desc {
    transition: 0.3s;
    width: 150%;
    padding: 10px 10px;
    border-radius: 10px;
    position: absolute;
    top: 105%;
    text-align: center;
    margin: 0;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: #251135;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    transform: translateX(0) translateY(100px);
}

.projeto:hover .desc {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0) translateY(0);
}

.projeto:hover .imagem-desc {
    filter: blur(0px);
}

.pagina-projeto {
    background-color: #251135;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 75%;
    overflow-y: scroll;
    scrollbar-width: 1px;
    scroll-behavior: smooth;
    scrollbar-color: white transparent;
    position: fixed;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 8px 8px 20px black;
}

.pagina-projeto.animacao {
    opacity: 1;
}

.pagina-projeto button {
    position: absolute;
    left: 25px;
    top: 25px;
    background-color: transparent;
    border: none;
    font-size: 34px;
    color: white;
    cursor: pointer;
}

.pagina-projeto img {
    max-width: 60%;
    border: 5px solid white;
    border-style: ridge;
}

.pagina-projeto h1 {
    font-size: 36px;
}

.pagina-projeto p {
    max-width: 90%;
    font-size: 20px;
}

.pagina-projeto a {
    font-size: 20px;
    color: white;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.4);
    z-index: 4;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
